    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-md-12 grid-margin">
                    <div class="d-flex justify-content-between flex-wrap">
                        <div class="d-flex align-items-end flex-wrap">
                            <div class="me-md-3 me-xl-5">
                                <h2>Parking Lot </h2>
                                <p class="mb-md-0"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body dashboard-tabs p-0">
                            <ul class="nav nav-tabs px-4" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="overview-tab" data-bs-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Overview</a>
                                </li>
                            </ul>
                            <div class="tab-content py-0 px-0">
                                <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                                    <div class="d-flex flex-wrap justify-content-xl-between">
                                        <div class="d-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                                            <i class="mdi mdi-checkbox-marked-circle me-3 icon-lg text-success"></i>
                                            <div class="d-flex flex-column justify-content-around">
                                                <small class="mb-1 text-muted">Available</small>
                                                <h5 class="me-2 mb-0">6</h5>
                                            </div>
                                        </div>
                                        <div class="d-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                                            <i class="mdi mdi-close-circle me-3 icon-lg text-danger"></i>
                                            <div class="d-flex flex-column justify-content-around">
                                                <small class="mb-1 text-muted">Occupied</small>
                                                <h5 class="me-2 mb-0">0</h5>
                                            </div>
                                        </div>
                                        <div class="d-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                                            <i class="mdi mdi-clock me-3 icon-lg text-reddit"></i>
                                            <div class="d-flex flex-column justify-content-around">
                                                <small class="mb-1 text-muted">Reserved / Pending</small>
                                                <h5 class="me-2 mb-0">0</h5>
                                            </div>
                                        </div>
                                        <div class="d-flex border-md-right flex-grow-1 align-items-center justify-content-center p-3 item">
                                            <i class="mdi mdi-car me-3 icon-lg text-success"></i>
                                            <div class="d-flex flex-column justify-content-around">
                                                <small class="mb-1 text-muted">Today parked</small>
                                                <h5 class="me-2 mb-0">0</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="info-table-header-block">
                    <input type="text" placeholder="Search vehicles by Licence Number, Username, Phone Number, Date of allocation, Slot" id="member_search" onkeyup="getTableData()">
                </div>
                <div class="starter-template">
                    <div class="info-table-header-block">
                        <button type="button slot" class="btn btn-primary text-white slot-button" data-toggle="modal" data-target="#addnewModal">
                             <h4>Reserve a parking space</h4>
                        </button>
                    </div>
                    <div class="modal fade" id="addnewModal" tabindex="-1" role="dialog" aria-labelledby="addnewModalTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="addnewModalTitle">Add new vehicle</h4>
                                </div>
                                <div class="modal-body">
                                    <form id="saveMemberInfo">
                                        <div class="form-group">
                                            <label for="reg_no">Licence Plate
                                                <span class="required-field">*</span>
                                            </label>
                                            <input type="text" class="form-control" placeholder="Enter registration no:" id="reg_no" required />
                                        </div>
                                        <div class="form-group">
                                            <label for="d_o_a">Date of allocation
                                                <span class="required-field">*</span>
                                            </label>
                                            <input type="text" class="form-control" placeholder="Enter date of allocation" id="d_o_a" required onkeypress="return false;" />
                                        </div>
                                        <div class="form-group">
                                            <label for="slot">Slot number
                                                <span class="required-field">*</span>
                                            </label>
                                            <input type="number" class="form-control" placeholder="Enter slot number" id="slot" required min="1" max="6" maxlength="1">
                                        </div>
                                        <div class="modal-footer-extended">
                                            <button type="submit" style="color:white" class="btn btn-primary">Reserve</button>
                                            <button type="button" style="color:whitesmoke"class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table id="member_table" class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>
                                <a href="#" onclick="sortBy('reg_no')">Licence Plate</a>
                            </th>
                            <th>
                                <a href="#" onclick="sortBy('owner_name')">Username</a>
                            </th>
                            <th>
                                <a href="#" onclick="sortBy('phone')">Phone Number</a>
                            </th>
                            <th>
                                <a href="#" onclick="sortBy('d_o_a')">Date of allocation</a>
                            </th>
                            <th>
                                <a href="#" onclick="sortBy('slot')">Slot number</a>
                            </th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                    </table>
                    <div class="show-table-info hide">
                        <div class="alert alert-info center">
                            <strong>No cars reserved</strong>
                        </div>
                    </div>
                </div>
            </div>
            <div id="show_user_info">
                <div class="modal fade" id="showModal" tabindex="-1" role="dialog" aria-labelledby="showModalTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="showModal">Vehicle Information</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="show_reg_no">Licence Plate</label>
                                    <input type="text" class="form-control" id="show_reg_no" value="" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="show_d_o_a">Date of reservation</label>
                                    <input type="text" class="form-control" id="show_d_o_a" value="" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="show_slot">Slot number</label>
                                    <input type="number" class="form-control" id="show_slot" value="" disabled>
                                </div>
                                <div class="modal-footer-extended">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="show_user_info">
                <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="editModal">Edit Vehicle Information</h4>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="edit_d_o_a">Date of reservation
                                            <span class="required-field">*</span>
                                        </label>
                                        <input type="text" class="form-control" id="edit_d_o_a" value="" required onkeypress="return false;" />
                                    </div>
                                    <div class="form-group">
                                        <label for="edit_slot">Slot number
                                            <span class="required-field">*</span>
                                        </label>
                                        <input type="number" class="form-control" id="edit_slot" value="" required />
                                    </div>
                                    <div class="form-group">
                                        <input type="hidden" class="form-control" id="member_id">
                                    </div>
                                    <div class="modal-footer-extended">
                                        <button type="button" class="btn btn-success" onclick="updateMemberData();">Update</button>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="show_user_info">
                <div class="modal fade" id="deleteDialog" tabindex="-1" role="dialog" aria-labelledby="deleteDialogTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="deleteDialog">Warning!</h4>
                            </div>
                            <div class="modal-body">
                                <h4>Are you sure, want to delete this vehicle? </h4>
                                <input type="hidden" id="deleted-member-id" value="">
                                <div class="modal-footer-extended">
                                    <button class="btn btn-danger" onclick="deleteMemberData()">Delete</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>