<section id="main">
    <section class="clean-block clean-form dark">
        <div class="container" style="padding-top: 64px;">
            <div class="block-heading">
                <h2 class="text-info">Personal Information</h2>
                <p></p>
            </div>
            <form>
                {% if session['name'] %}
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-5 col-form-label">Name</label>
                    <label for="name" class="col-sm-7 col-form-label">{{ session['name'] }}</label>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-5 col-form-label">Phone Number</label>
                    <label for="phone_number" class="col-sm-7 col-form-label"> {{ session['phone'] }}</label>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-5 col-form-label">Email Address</label>
                    <label for="email" class="col-sm-7 col-form-label"> {{ session['email'] }}</label>
                </div>
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-5 col-form-label">Address</label>
                    <label for="address" class="col-sm-7 col-form-label">{{ session['address'] }}</label>
                </div>
                {% endif %}
            </form>
        </div>
    </section>
</section>
