<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/base/vendor.bundle.base.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/chart.js/Chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/datatables.net/jquery.dataTables.js') }}"></script>
<script src="{{ url_for('static', filename='vendors/datatables.net-bs4/dataTables.bootstrap4.js') }}"></script>
<script src="{{ url_for('static', filename='js/off-canvas.js') }}"></script>
<script src="{{ url_for('static', filename='js/hoverable-collapse.js') }}"></script>
<script src="{{ url_for('static', filename='js/template.js') }}"></script>
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
<script src="{{ url_for('static', filename='js/data-table.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.dataTables.js') }}"></script>
<script src="{{ url_for('static', filename='js/dataTables.bootstrap4.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.cookie.js') }}" type="text/javascript"></script>
