 <div class="container-fluid page-body-wrapper">
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="dashboard.html">
              <i class="mdi mdi-home menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="users.html">
              <i class="mdi mdi-account-multiple menu-icon"></i>
              <span class="menu-title">Users</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="parking-lot.html">
              <i class="mdi mdi mdi-parking menu-icon"></i>
              <span class="menu-title">Parking Lot</span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="main-panel">
        <div class="content-wrapper">

          <div class="row">
            <div class="col-md-12 grid-margin">
              <div class="d-flex justify-content-between flex-wrap">
                <div class="d-flex align-items-end flex-wrap">
                  <div class="me-md-3 me-xl-5">
                    <h2>User Database</h2>
                    <p class="mb-md-0">Currently holding %USERS% users</p>
                  </div>
                </div>
                <div class="d-flex justify-content-between align-items-end flex-wrap">
                  <button type="button" class="btn btn-light bg-white btn-icon me-3 d-none d-md-block ">
                    <i class="mdi mdi-download text-muted"></i>
                  </button>
                  <button type="button" class="btn btn-light bg-white btn-icon me-3 mt-2 mt-xl-0">
                    <i class="mdi mdi-clock-outline text-muted"></i>
                  </button>
                  <button type="button" class="btn btn-light bg-white btn-icon me-3 mt-2 mt-xl-0">
                    <i class="mdi mdi-plus text-muted"></i>
                  </button>
                  <button class="btn btn-primary mt-2 mt-xl-0">Generate report</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title">Users</p>
                  <div class="table-responsive">
                    <table id="recent-purchases-listing" class="table">
                      <thead>
                        <tr>
                            <th>Name</th>
                            <th>License Plate</th>
                            <th>Phone Number</th>
                            <th>Account Created</th>
                            <th>Time</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td>John Doe</td>
                            <td>AB123456</td>
                            <td>+45 12345678</td>
                            <td>01 July 2022</td>
                            <td>02:23:54</td>
                        </tr>
                        <tr>
                            <td>Ernest Wade</td>
                            <td>AB123456</td>
                            <td>+45 12345678</td>
                            <td>08 June 2022</td>
                            <td>02:23:54</td>
                        </tr>
                        <tr>
                            <td>Marcus Lake</td>
                            <td>AB123456</td>
                            <td>+45 12345678</td>
                            <td>03 June 2022</td>
                            <td>02:23:54</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>