<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}"/>
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i&amp;display=swap">
<link rel="stylesheet" href="{{ url_for('static', filename='fonts/font-awesome.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/Bootstrap-4---Payment-Form.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/vanilla-zoom.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/loginpage.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/pincodecss.css') }}">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
      integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
      crossorigin=""/>