{% include 'sections/header.html' %}
<body>
{% include 'sections/navbar.html' %}
<section id="main">
{% include 'components/login.html' %}
</section>
{% include 'sections/footer.html' %}
<script>
    $(document).ready(function () {
        $('#login').on('submit', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/login',
                data: $(this).serialize(),
                success: function (data) {
                    $('#main').html(data);
                }
            });
        });
    });
</script>
</body>