{% include 'sections/header.html' %}
<body>
{% include 'sections/navbar.html' %}
<section id="main">
    {% if other_page %}
{% include other_page %}
     {% else %}
{% include 'components/login.html' %}
     {% endif %}
</section>
{% include 'sections/footer.html' %}

<script>
    $(document).ready(function () {
        $('#login').on('submit', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/login',
                data: $(this).serialize(),
                success: function (data) {
                    if (data.status === 'success') {
                        window.location.href = '/login/confirm';
                    } else if (data.status === 'register') {
                        window.location.href = '/register';
                    } else {
                        $('.alert').text(data.message).show();
                    }
                }
            });
        });
    });
</script>
</body>