{% include 'sections/header.html' %}
<body>
{% include 'sections/navbar.html' %}
<section id="main">
    {% if other_page %}
{% include other_page %}
     {% else %}
{% include 'components/login.html' %}
     {% endif %}
</section>
{% include 'sections/footer.html' %}

<script>
    $(document).ready(function () {
        $('#login').on('submit', function (e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/login',
                data: $(this).serialize(),
                success: function (data) {
                    if (data.status === 'success') {
                        window.location.href = '/login/confirm';
                    } else if (data.status === 'register') {
                        window.location.href = '/register';
                    } else {
                        $('.alert').text(data.message).show();
                    }
                }
            });
        });
    });

    var map = L.map('map').setView([55.42861, 11.78409], 19);

	var tiles = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
		maxZoom: 19,
		attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
	}).addTo(map);

    var marker = L.marker([55.42861, 11.78409]).addTo(map)
		.bindPopup('<b>Hello world!</b><br />I am a popup.').openPopup();

</script>
</body>