<section class="clean-block clean-form dark" style="padding-top: 64px;">
    <div class="container">
        <div class="block-heading">
            <h2 class="text-info">Confirm Code</h2>
            <p>We have sent you a verification number to your phone!</p>
        </div>
        <form>
            <div id="content" class="mb-3">
                <label class="form-label">Enter Confirmation Code:</label>
                <div class="pin-code">
                    <input type="digit" maxlength="1" autofocus pattern="^[0-9]{1}$"/>
                    <input type="digit" maxlength="1" pattern="^[0-9]{1}$"/>
                    <input type="digit" maxlength="1" pattern="^[0-9]{1}$"/>
                    <input type="digit" maxlength="1" pattern="^[0-9]{1}$">
                </div>
            </div>
            <div style="text-align: center;">
                <button class="btn btn-primary" type="submit">Submit Code</button>
            </div>
        </form>
    </div>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><img src="assets/img/ZBC_BLACK.png" width="70"><a class="navbar-brand logo" href="#">PARKING
            LOT</a>
            <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span
                    class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="Login.html">Home</a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="contact-us.html">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
</section>