<section class="clean-block clean-form dark">
    <div class="container" style="padding-top: 64px;">
        <div class="block-heading">
            <h2 class="text-info">Registration</h2>
            <p></p>
        </div>
        <form id="register_car" action="/register/car">
            <div class="mb-3">
                <label class="form-label" for="licence">License plate number</label>
                <input id="licence" class="form-control item" type="text" required/>
            </div>
            <button class="btn btn-primary" type="submit">Add To Account</button>
        </form>
    </div>
</section>